<!-- user-form.component.html -->
<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" class="form-control" formControlName="name" />
      <div
        *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
        class="text-danger"
      >
        <small *ngIf="userForm.get('name')?.errors?.['required']"
          >Name is required.</small
        >
        <small *ngIf="userForm.get('name')?.errors?.['minlength']"
          >Name must be at least 3 characters.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" class="form-control" formControlName="email" />
      <div
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
        class="text-danger"
      >
        <small *ngIf="userForm.get('email')?.errors?.['required']"
          >Email is required.</small
        >
        <small *ngIf="userForm.get('email')?.errors?.['email']"
          >Invalid email format.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
      />
      <div
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
        class="text-danger"
      >
        <small *ngIf="userForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="userForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters.</small
        >
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>
</div>
